__pycache__/
*.json
*.log
env/
old/
*old*
test/coreutils-8.32/
test/bin
clear_logs.sh
clear_jsons.sh
debug_*
json/
test.py
extract_logs.py
results.txt
run_all.sh
extracted_results.txt
get_noneq.py
presentation_backup.pdf
read_logs.py
TRUE_LOGS/
photos/
create_table.py
run_demo.sh
sorted_results_table.csv
